:root {
	--primary: #1758f1;
	--secondary: #37dbe0;
	--grey: #dae1ef;
	--font: #4b5062;
	--font-header: #4b5062;
	--white: #ffffff;
	--body-bg: #f7f9ff;
	--body-bg-gradient: linear-gradient(45deg, #f8fafe, #f2f3fd);
	--inset-shadow: inset 3px 3px 6px rgba(0, 0, 0, 0.1), inset -3px -3px 8px rgba(255, 255, 255, 0.8);
	--shadow: 3px 3px 6px rgba(0, 0, 0, 0.1), -3px -3px 6px rgba(255, 255, 255, 0.5);
}
body {
	/* background-color: var(--body-bg); */
	background-image: var(--body-bg-gradient);
	color: var(--font);
	font-family: 'Noto Sans', sans-serif;
	margin: 0;
	padding: 0;
	min-width: 768px;
	min-height: 100vh;
}
h1, h2, h3, h4 {
	font-weight: 400;
	color: var(--font-header);
}
p {
	margin: 0;
}
input, .well {
	font-size: 18px;
	border: none;
	border-radius: 50px;
	padding: 0.5rem 1.5rem;
	background-color: #f2f3fd;
  color: var(--font);
	box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.1), inset -3px -3px 6px rgba(255, 255, 255, 0.8), inset -60px 0px 30px -30px rgba(0, 0, 0, 0.01), inset 60px 0px 30px -30px rgba(255, 255, 255, 0.1);
}
input:focus {
	outline: none;
}
label {
	margin-bottom: 0.5rem;
}
.btn {
	border-radius: 30px;
  padding: 10px 40px;
  font-size: 20px;
	/* color: #6d7587; */
	color: var(--font);
	background-color:#f2f3fd;
  border: none;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1), -3px -3px 6px rgba(255, 255, 255, 0.8), inset -60px 0px 30px -30px rgba(0, 0, 0, 0.01), inset 60px 0px 30px -30px rgba(255, 255, 255, 0.1);
  cursor: pointer;
	transition: all 500ms ease-in;
}
.btn-sm {
	padding: 5px 10px;
  font-size: 12px;
}
.btn-gradient {
	color: var(--white);
	background: linear-gradient(45deg, var(--primary), var(--secondary));
}
.btn-icon {
	width: 40px;
	height: 40px;
	padding: 0.25rem;
	font-size: 25px;
}
.btn.disabled {
	opacity: 0.4;
	cursor: default;
}
.link {
	color: var(--primary);
	cursor: pointer;
	text-decoration: none;
}
.link:hover {
	color: var(--primary);
	text-decoration: underline;
}

.gradient-text {
	background: linear-gradient(90deg, var(--primary), var(--secondary));
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}